In [1]:
import pandas as pd
import numpy as np

In [2]:
rawdata= pd.read_csv(r'C:\users\mauli\desktop\Life Expectancy Dataset.csv')

In [3]:
data = rawdata.copy()

In [4]:
data.head()

,Country,Year,Developing Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

# Data Pre-processing

In [5]:
data.isnull().sum()

Country                              0
Year                                 0
Developing Status                    0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [6]:
data['Life expectancy '].fillna(data['Life expectancy '].mean(), inplace = True)
data.isnull().sum()

Country                              0
Year                                 0
Developing Status                    0
Life expectancy                      0
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [8]:
data['Adult Mortality'].fillna(data['Adult Mortality'].mean(), inplace = True)

In [9]:
data.Alcohol.unique()

array([0.01, 0.03, 0.02, ..., 2.44, 3.56, 4.57])

In [13]:
data['Alcohol'].fillna(data.Alcohol.mean(), inplace = True)
data['Hepatitis B'].fillna(data['Hepatitis B'].mean(), inplace = True)
data[' BMI '].fillna(data[' BMI '].mean(),inplace = True)
data['Polio'].fillna(data['Polio'].mean(), inplace = True)
data['Total expenditure'].fillna(data['Total expenditure'].mean(), inplace = True)
data['Diphtheria '].fillna(data['Diphtheria '].mean(), inplace = True)
data['GDP'].fillna(data['GDP'].mean(), inplace = True)
data['Population'].fillna(data['Population'].mean(), inplace = True)
data[' thinness  1-19 years'].fillna(data[' thinness  1-19 years'].mean(), inplace = True)
data[' thinness 5-9 years'].fillna(data[' thinness 5-9 years'].mean(), inplace = True)
data['Income composition of resources'].fillna(data['Income composition of resources'].mean(), inplace = True)
data['Schooling'].fillna(data['Schooling'].mean(), inplace = True)

In [14]:
data.isnull().sum()

Country                            0
Year                               0
Developing Status                  0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

# Splitting the data for training and testing

In [16]:
X = data.drop('Life expectancy ', axis = 1)
y = data['Life expectancy ']

# Creating dummy variables for categorical data

In [18]:
Country_dummy=pd.get_dummies(X['Country'])
status_dummy=pd.get_dummies(X['Developing Status'])
X.drop(['Country','Developing Status'],inplace=True,axis=1)
X=pd.concat([X,Country_dummy,status_dummy],axis=1)

In [21]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Columns: 214 entries, Year to Developing
dtypes: float64(15), int64(4), uint8(195)
memory usage: 995.7 KB

In [22]:
X.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe,Developed,Developing
0,2015,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,...,0,0,0,0,0,0,0,0,0,1
1,2014,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,...,0,0,0,0,0,0,0,0,0,1
2,2013,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,...,0,0,0,0,0,0,0,0,0,1
3,2012,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,...,0,0,0,0,0,0,0,0,0,1
4,2011,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,...,0,0,0,0,0,0,0,0,0,1

In [23]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=100)

# Applying Machine Learning

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
Linear_model= LinearRegression()

In [54]:
Linear_model.fit(X_train,y_train)

LinearRegression()

In [55]:
predictions = Linear_model.predict(X_test)

In [56]:
from sklearn.metrics import mean_squared_error

In [57]:
print(mean_squared_error(y_test,predictions)**(0.5))

2.0226354722537163

In [58]:
from sklearn.metrics import r2_score

In [59]:
r2_score(y_test,predictions)

0.954947900386547

# The R2 score of the linear regression model is 95.49